<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/unrendered/head') %>
  </head>
  <body>
    <div class="row" id="header">
      <%- include('partials/rendered/header') %>
    </div>

    <main>
      <%- include('pages/home') %>
    </main>
    <div class="row" id="footer">
      <%- include('partials/rendered/footer') %>
    </div>
    <script type="text/babel">

    </script>
  </body>
</html>
