<!------------------- BANNER ------------------->
<div class="row col-12 col-s-12" id="banner">

  <div class="col-l-7 col-11 col-s-12" id="description">
    <h1 class="col-10 col-s-12">Ross Keeley</h1>
    <h2 class="col-7 col-s-9">Full Stack Developer</h2>
  </div>
</div>

<!-------------------- ABOUT ------------------->
<div class="row" id="about">
  <!-- About Me -->
  <div class="col-l-6 col-12 col-s-12">
    <div class="container">
      <div class="title">
        <h2>About Me</h2>
      </div>
      <div class="description">
        <p>
          My name is Ross and I am a full stack developer based in London.
        </p>
        <p>
          Tech has transformed the way we live, work, and connect with others. Today, it's value has become more relevant than ever before, and this is what led me to begin a career in software development.
        </p>
        <p>
          I'm a naturally curious and creative person, with a background in science that has greatly lended to my analyitcal side. I enjoy building things and seeing a vision come to life piece by piece.
        </p>
      </div>
      <div class="contact" id="contact">
        <a href="https://www.linkedin.com/in/rosskeeley" target="_blank" class="fab fa-linkedin"></a>
        <a href="mailto:rjkeeley@gmail.com" target="_blank" class="far fa-envelope"></a>
        <a href="https://github.com/rosskeeley" target="_blank" class="fab fa-github"></a>
      </div>
    </div>
  </div>
  <!-- Skills -->
  <div class="col-l-6 col-12 col-s-12">
    <div class="container">
      <div class="title">
        <h2>Skills</h2>
      </div>
      <div class="languages">
        <% for (let i = 0; i < skillsData.length; i++) { %>
          <div class="col-4 col-s-10" id="skills-card">
            <div class="title">
              <h3><%= skillsData[i].title %></h3>
            </div>
            <% for (let j = 0; j < skillsData[i].tags.length; j++) { %>
              <p><%= skillsData[i].tags[j]; %></p>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
