<header class="row">
  <div class="col-l-6 col-7 col-s-10" id="logo">
    <a href="/">Ross Keeley | Portfolio</a>
  </div>
  <div class="col-l-6 col-5 col-s-2" id="navbar">
    <nav>
      <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="/downloads/ross-keeley-resume.pdf" download="Ross-Keeley-Resume" alt="Ross-Keeley-Resume.pdf">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
